@use 'utilities' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-colour);
  color: var(--main-colour);
  font-family: var(--main-font);
  font-weight: 400;
}

#root {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  place-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  p {
    span {
      font-weight: 500;
    }
  }

  img {
    cursor: pointer;
    width: 32px;
  }
}

main {
  max-width: 1200px;
}
