@use 'utilities' as *;
@use 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-colour);
  color: var(--main-colour);
  font-family: var(--main-font);
  font-weight: 400;
}

*:focus-visible {
  outline: 2px solid white !important;
  outline-offset: 5px;
  border-radius: 8px;
}

#root {
  max-width: 1200px;
  min-height: 100svh;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  padding: 1em;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
  }

  button {
    outline: 2px solid var(--main-colour);
    border: none;
    border-radius: 8px;
    padding: 0.5em;
    cursor: pointer;

    &:disabled {
      background-color: var(--main-colour);
      color: var(--bg-colour);
      outline: none;
      cursor: initial;
    }
  }

  .scoreboard {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    .current-score-value,
    .best-score-value {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .difficulty-chooser {
    display: flex;
    gap: 16px;
  }

  .animal-chooser {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  p {
    span {
      font-weight: 500;
    }
  }

  img {
    cursor: pointer;
    width: 32px;
  }
}

main {
  .loading-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      background-color: initial;
      filter: var(--icon-main-colour);
      width: 82px;
      animation: rotate 2s ease infinite;
    }

    p {
      font-size: 1.5rem;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      cursor: pointer;
      outline: 2px solid var(--main-colour);

      .card-image {
        width: 100%;
        height: 250px;
        border-radius: 8px;
      }
    }
  }

  .game-over-screen {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 32px;
    }
  }
}

@include media.queries;
