@mixin queries {
  @media (hover: hover) {
    header {
      button:hover {
        background-color: var(--main-colour);
        color: var(--bg-colour);
        outline: none;
      }
    }
    
    .card:hover {
      transform: scale(1.3);
    }
  }
}
