@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
  --bg-colour: rgb(40, 40, 40);
  --main-colour: rgb(255, 185, 55);
  --main-font: 'Fredoka', sans-serif;
}
